{% extends "base.html" %} 
{% block title %}Piracy - [Piracy]{% endblock %} 
{% block content %} 


<article>

<article>
  <h1>Piracy</h1>
<p>

su meme o kadar dogru ki.

<img class="graf-image" src="https://pbs.twimg.com/media/GYxoao2XQAUSgto?format=jpg&name=large" width="600px">

bir oyunun (veya yazılımın) kutulu fiyatı ile steam yahut dijital versiyonu nasıl aynı olabilir. 

bir oyunu dijital aldığınızda oyun asla sizin olmaz, steam veya ps store gibi servisler sadece indirmenize ve oynamanıza izin verirler. 

20 yıl sonra atari kasetinizi takıp oynayabilirsiniz fakat steamin batıp serverlarını inaktif hale getirmeyeceğinden emin olamazsınız. (nintendo birkaç ay önce 3ds dahil olmak üzere shoplarını kapattı, psp serverları kapandı vesaire)

şu an biraz nostalji yapayım diyip need for speed underground 2 satın alıp oynayabileceğiniz hiçbir yer yok çünkü abandonware, terkedilmiş yazılım.

binlerce insan oyunları, dizileri, filmleri dump edip arşivlemeye çalışıyor ve bunları kendi imkanlarıyla halen erişilebilir tutuyor, diğer taraftan da şirketler ve lobiler bunları suçlu ilan ediyor.

iki taraf da masum değil, piracy hırsızlık değildir fakat kabul etmek gerek haksızlıktır. (küçük indie geliştiricileri hariç tutuyorum onlar hem erişilebilir fiyatta hem de bireyseller) şirketlerin aşırı fiyatlandırmalarına, ürünlerini bir kez satmaktan ziyade ömür boyu size aylık subscription için saas hale getirmelerine, oyunları hem 60 dolardan satıp hem de mikro ödemelerle, servis oyunu hale getirmelerinden, aç gözlülükerinden ve işler tersine gittiğinde kendilerini koruyup sizi mağdur edecek haklarını “gizli tuttuklarından” dolayı.

tam ücret ödediğiniz streaming platformları size tüketmek istediğiniz filmi hangi kalitede izleyeceğinizi seçmenize bile izin vermiyor, bugün izlediğiniz şey iki ay sonra tüm platformlardan kalkıyor.

çok sevdiğiniz eski bir diziyi bu içerikleri dumplayıp arşive koyan insanlar olmasa belki de sonsuza dek yok olacaklar. 

5 streaming platformuna aylık onlarca lira ödeyip bizi yine hdfilmcehenneminden izlemek zorunda bırakıyorlar.

bakın bugün kimse korsan müzik dinlemiyor önce itunes devrimiyle sonrasında da spotify ile birlikte korsan müzik olayı neredeyse tamamen bitti (torrent sitelerinde müzik kategorisiyle oyun ve film kategorisindeki seed oranlarına bakabilirsiniz) 

böyle olmasının nedeni çok basit, bu uygulamalar ona ödediğiniz parayı sonuna kadar hakettirdiğini hissettiriyorlar, dünyadaki neredeyse tüm arşive bir aramayla ulaşabiliyorsunuz bunu da gerçekten uygun bir fiyata yapıyorlar.

bu ve bunun gibi nedenlerden dolayı halen piracy problemi çözülmedi, yapanlar da hallerinden memnunlar, doğru olanı mı yapıyorlar hayır, ama bunun için mızmızlanan şirketler çuvaldızı kendilerine iğneyi kullanıcılara batırmalı.
</p>

</article>

{% endblock %}