body {
    font-family: "Lucida Console", monospace;
    font-size: 11px;
    color: #111;
    background-color: white;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.separator {
    letter-spacing: -9px;
}

hr {
    border: none;
    height: 2px;
    background-color: lightgrey;
    width: 100%;
    margin: 30px auto;
}

.links-container {
    margin-top: 20px;
}

.links-container a {
    text-decoration: none;
    margin: 10px;
    color: inherit;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.project-photo {
    display: block;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

pre,
code {
    font-family: "Fira Code", monospace;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}