{% extends "base.html" %} {% block title %}About Me - [Your Name]{% endblock %}
{% block content %}
<h2 id="about">Mert Cobanov</h2>
<p>
  Hello! I am [Your Name], a data scientist, generative artist, and educator
  based in Istanbul. I am passionate about digitizing the memories of humanity
  through artistic works, and I focus on the intersection of technology and art.
</p>
<p>
  In addition to my work in data science, I provide free education on Twitter
  and YouTube, teaching at various schools and communities annually. My journey
  in AI and machine learning has led me to explore Diffusion Models and sequence
  prediction tasks using RNNs, among other fascinating areas.
</p>
{% endblock %}
