<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- Include highlight.js CSS for syntax highlighting -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-light.min.css"
      rel="stylesheet"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="links-container">
      <a href="/">Home</a><span class="separator">|</span>
      <a href="/blog">Blog</a><span class="separator">|</span>
      <a href="/projects">Projects</a><span class="separator">|</span>
      <a href="/helpers">Helpers</a><span class="separator">|</span>
      <!-- <a href="/contact">Contact</a> -->
    </div>
    <hr />

    {% block content %}{% endblock %}

    <!-- Include highlight.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js"></script>

    <!-- Include custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
