{% extends "base.html" %} {% block title %}Home - Mert Cobanov{% endblock %} {%
block content %}
<!-- Introduction Section -->
<div class="introduction">
  <h2>Mert Cobanov</h2>
  <p>01010011 01000001 🙋‍♂️</p>

  <p>
    I'm a data scientist and generative artist passionate about sharing
    knowledge. I offer free data science and machine learning education on
    Twitter and YouTube, and teach at various schools and communities each year.
    At Refik Anadol Studio, I collaborate with an amazing team to create digital
    art that immortalizes humanity's memories.
  </p>

  <ul>
    <li>🌍 Based in Istanbul</li>
    <li>
      💌 Reach me at
      <a href="mailto:mertcobanov@gmail.com">mertcobanov@gmail.com</a>
    </li>
    <li>
      🚀 Currently working at
      <a href="http://refikanadol.com" target="_blank">Refik Anadol Studio</a>
    </li>
    <li>🧠 Dealing with Diffusion Models</li>
  </ul>
</div>

<!-- Latest Blog Posts Section -->
<h2>Latest Blog Posts</h2>
<ul>
  {% for post_name, post_title in posts.items() %}
  <li><a href="/blog/{{ post_name }}">{{ post_title }}</a></li>
  {% endfor %}
</ul>

<!-- Highlighted Projects Section
<h2>Highlighted Projects</h2>
<p>
  In addition to my work in data science, I provide free education on Twitter
  and YouTube, teaching at various schools and communities annually. My journey
  in AI and machine learning has led me to explore Diffusion Models and sequence
  prediction tasks using RNNs, among other fascinating areas.
</p> -->

<h2 id="contact">Contact Me</h2>
<p>
  If you'd like to get in touch, feel free to reach out via email at
  <a href="mailto:mertcobanov@gmail.com">mertcobanov@gmail.com</a>. I'm always
  open to collaborations, new projects, or just a friendly chat about AI, art,
  and everything in between.
</p>

{% endblock %}
