{% extends "base.html" %} {% block title %}Home - [Your Blog Title]{% endblock
%} {% block content %}
<!-- Introduction Section -->
<div class="introduction">
  <h2>Mert Cobanov</h2>
  <p>01010011 01000001 🙋‍♂️</p>

  <p>
    I'm a data scientist and generative artist passionate about sharing
    knowledge. I offer free data science and machine learning education on
    Twitter and YouTube, and teach at various schools and communities each year.
    At Refik Anadol Studio, I collaborate with an amazing team to create digital
    art that immortalizes humanity's memories.
  </p>

  <ul>
    <li>🌍 Based in Istanbul</li>
    <li>
      ✉️ Reach me at
      <a href="mailto:mertcobanov@gmail.com">mertcobanov@gmail.com</a>
    </li>
    <li>
      🚀 Currently working at
      <a href="http://refikanadol.com" target="_blank">Refik Anadol Studio</a>
    </li>
    <li>🧠 Dealing with Diffusion Models</li>
  </ul>
</div>

<!-- Latest Blog Posts Section -->
<h2>Latest Blog Posts</h2>
<ul>
  {% for post_name, post_title in posts.items() %}
  <li><a href="/blog/{{ post_name }}">{{ post_title }}</a></li>
  {% endfor %}
</ul>

<!-- Highlighted Projects Section -->
<h2>Highlighted Projects</h2>
<p>
  In addition to my work in data science, I provide free education on Twitter
  and YouTube, teaching at various schools and communities annually. My journey
  in AI and machine learning has led me to explore Diffusion Models and sequence
  prediction tasks using RNNs, among other fascinating areas.
</p>

<h3>Next Word Prediction</h3>
<b>
  <a href="https://github.com/cobanov/next-word-predict" target="_blank"
    >GitHub</a
  >
  |
  <a href="https://github.com/cobanov/next-word-predict" target="_blank"
    >Demo</a
  >
</b>
<p>
  This FastAPI application offers text prediction capabilities using a
  pre-trained RoBERTa model. It serves a static HTML page and provides an
  endpoint for generating text predictions in real-time.
</p>
<img
  class="project-photo"
  src="https://github.com/cobanov/next-word-predict/raw/main/assets/Animation.gif"
  alt="Next Word Prediction Demo"
/>

<hr />

<h3>Fast + Focused</h3>
<b>
  <a href="https://github.com/cobanov/next-word-predict" target="_blank"
    >GitHub</a
  >
  |
  <a href="https://github.com/cobanov/next-word-predict" target="_blank"
    >Demo</a
  >
</b>
<p>
  The Fast + Focused App is a web-based application designed to enhance your
  reading speed by displaying words from a text file at a rapid pace. This
  method, often referred to as speed reading, allows users to consume content
  faster by minimizing the eye movement and focusing on central vision. The app
  dynamically reads a text file and displays each word individually at a
  user-defined speed.
</p>
<img
  class="project-photo"
  src="https://github.com/cobanov/fast-focused/raw/main/assets/demo.gif"
  alt="Fast + Focused Demo"
/>

<hr />

<h3>Tasnif</h3>
<b>
  <a href="https://github.com/cobanov/tasnif" target="_blank">GitHub</a>
</b>
<p>
  Tasnif is a Python package designed for clustering images into user-defined
  classes based on their visual content. It utilizes deep learning to generate
  image embeddings, Principal Component Analysis (PCA) for dimensionality
  reduction, and K-means for clustering. Tasnif supports processing on both GPU
  and CPU, making it versatile for different computational environments.
</p>
<pre><code class="language-python">from tasnif import Tasnif

# Initialize Tasnif with 5 classes, PCA dimensions set to 16, and GPU usage
classifier = Tasnif(num_classes=5, pca_dim=16, use_gpu=False)

# Read images from a specified directory
classifier.read('path/to/your/images')

# Calculate embeddings, PCA, and perform clustering
classifier.calculate()

# Export clustered images and grids
classifier.export('path/to/output')</code></pre>

<hr />

<h3>Localscan</h3>
<b>
  <a href="https://github.com/cobanov/localscan" target="_blank">GitHub</a>
</b>
<p>
  This is a simple network scanner written in Python. It utilizes ARP requests
  to discover devices on a given network and performs a lightweight scan on each
  discovered device using Nmap.
</p>
<img
  class="project-photo"
  src="https://github.com/cobanov/localscan/raw/main/assets/demo.png"
  alt="Localscan Demo"
/>
{% endblock %}
